# local packages if available
-e .

# set the project root as working directory for all jupyter notebooks 
# external requirements
-i https://test.pypi.org/simple/
ProjectRoot

# standard libs
jupyterlab
matplotlib
numpy
pandas


